* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {

    text-decoration: none;
    color: #ffae80;

}

header {
    /*background-color: gray;*/
    height: 60px;
    width: 100%;
    text-align: center;
    line-height: 60px;

}

body {
    background-color: #6b6cae;
    font-family: "Montserrat";
}

/*------------------------Presentacion---------------------------------------*/

nav {
    text-align: center;

    position: sticky;
    top: 0;
    list-style-type: none;
    margin-bottom: 10px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

li {
    display: inline;
}

li a {
    font-size: larger;
    padding: 5px;
    /* background-color: red;*/
    padding: 14px 16px;

}

li a:hover {
    background-color: #111;
}

#fotoLucas {
    width: 35%;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 15px;
    border: 3px solid #6b6cae;
    max-width: 100%;
    height: auto;
}

#presentacionFoto {
    width: 800px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 30px;
    background-color: rgb(207, 82, 60);

    border-radius: 10px;
}

#presentacionFoto p {
    color: black;
    font-size: medium;
    margin-top: 35px;
    color: white;
    text-align: center;
}

/*------------------------Presentacion---------------------------------------*/

/*------------------------Sobre mi---------------------------------------*/
#sobremi {
    background-color: rgb(207, 82, 60);
    height: 220px;
    line-height: 17px;
    color: white;
    padding: 0px 50px 0px 50px;
    margin: 50px 0px 50px 0px;
    border-radius: 5px;
    font-size: medium;
    text-align: center;
}

#sobremi h3 {
    text-align: center;
    padding-top: 10px;
}

#sobremi p {
    margin-top: 10px;
    padding-left: 180px;
    padding-right: 180px;
}

/*------------------------Sobre mi---------------------------------------*/

/*------------------------Conocimientos---------------------------------------*/

#conocimientos {
    background-color: peru;
    text-align: center;
    height: 190px;
}

#fotosConocimientos {
    margin: 10px;
}

#fotosConocimientos img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin: 10px;
}

#fotosConocimientos img:hover {
    transform: scale(1.05);

}


/*------------------------Conocimientos---------------------------------------*/


/*------------------------Proyectos---------------------------------------*/


#proyectos {
    display: flex;
    flex-direction: column;
    background-color: rgb(60, 122, 61);
    height: 500px;
    text-align: center;


}

#imgproyecto1,
#imgproyecto2 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    height: auto;
    border: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;

}

#imgproyecto1:hover {
    transform: scale(1.05);
}

#imgproyecto2:hover {
    transform: scale(1.05);
}

#imgproyecto2 {

    width: 75%;

}


#proyectos h2 {
    margin-bottom: 10px;
}

#linksproyectos {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

#proyecto1,
#proyecto2,
#proyecto3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
    margin-right: 70px;
    gap: 10px;
    width: 100%;
    max-width: 1000px;
}

.fotos img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;

}

.fotos img:hover {
    transform: scale(1.1);
}


#proyecto2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 1000px;
    box-sizing: border-box;
    padding-right: 20px;
}

#textoFotografia {

    margin-right: 90px;

}

/*------------------------Proyectos---------------------------------------*/

/*------------------------Contacto---------------------------------------*/

#containerContacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 260px;
    border-radius: 5px;
    background-color: blue;



}

#formularioMail {
    text-align: center;
    width: 50%;

}

#formularioMail input,
#formulario textarea {

    padding: 4px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#formularioMail textarea {
    max-width: 500px;
    min-width: 150px;
    max-height: 80px;
}

#formularioMail h2 {
    margin-top: 20px;
    text-align: center;
}

#redes {
    text-align: center;
    width: 50%;
}

#redes a {
    margin: 5px;
}

#redes img:hover {
    transform: scale(1.05);
}

#redes img {
    margin-top: 40px;
}

#redes h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}

/*------------------------Contacto---------------------------------------*/
/*------------------------Footer---------------------------------------*/
footer {
    background-color: rgb(53, 53, 53);
    height: 30px;
    line-height: 30px;
    color: white;
    text-align: center;
    padding-bottom: 1px;
}

/*------------------------Footer---------------------------------------*/
/* ----------------- Responsive ------------------ */

@media (max-width: 768px) {
    /* telefono en vertical*/

    #presentacionFoto {
        flex-direction: column;
        width: 90%;
    }

    #presentacionFoto p {
        margin-top: 10px;
    }

    #fotoLucas {
        width: 50%;
        margin: 0 auto 20px auto;
        float: none;
    }

    #sobremi {
        height: auto;
        padding: 20px;
    }

    #sobremi p {
        padding: 10px;
    }

    #conocimientos {
        height: auto;
        padding: 10px;
    }

    #fotosConocimientos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #fotosConocimientos img {
        margin: 5px;
        width: 60px;
        height: 60px;
    }

    #proyectos {
        height: auto;
    }

    #linksproyectos {
        flex-direction: column;
        align-items: center;
    }

    .fotos {
        grid-template-columns: repeat(2, 1fr);
        margin-right: 0;
        width: 100%;
        padding: 0 10px;
    }

    #proyecto2 {
        width: 90%;
        padding: 0;
    }

    #textoFotografia {
        margin-right: 0;
        text-align: center;
    }

    #containerContacto {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    #formularioMail,
    #redes {
        width: 100%;
    }

    #redes img {
        margin: 10px;
    }

    footer {
        height: 50px;

    }
}

@media (min-width:769px)and (max-width: 1024px) {
    /* telefono en horizontal o tablet*/


    #presentacionFoto {
        flex-direction: row;
        width: 90%;
    }

    #presentacionFoto p {
        margin-top: 10px;
    }

    #fotoLucas {
        width: 30%;
        margin: 0 auto 20px auto;
        float: none;
    }

    #sobremi {
        height: auto;
        padding: 20px;
    }

    #sobremi p {
        padding: 10px;
    }

    #conocimientos {
        height: auto;
        padding: 10px;
    }

    #fotosConocimientos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #fotosConocimientos img {
        margin: 5px;
        width: 80px;
        height: 80px;
    }

    #proyectos {
        height: auto;
    }

    #linksproyectos {
        flex-direction: column;
        align-items: center;
    }

    .fotos {
        grid-template-columns: repeat(3, 1fr);
        margin-right: 0;
        width: 100%;
        padding: 0 50px;
    }

    #proyecto2 {
        
        width: 90%;
        padding: 0;
    }
   
    #proyecto3 {
        margin-top: 20px;
        width: 80%;
    }

   

    #textoFotografia {
        margin-top: 10px;
        margin-right: 0;
        text-align: center;
    }


    #containerContacto {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap:nowrap;
        height: auto;
        padding-bottom: 10px;
      
    }

    #formularioMail,
    #redes {
        width: 100%;
    }

    #redes img {
        margin: 20px;
    }

    footer {
       padding-top: 10px;
        height: 50px;

    }
}

/* ----------------- Responsive ------------------ */